.coin--container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coin-positioning{
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $tablet) {
        padding-top: 10px;
        width: 80%;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }

    @media screen and (min-width: $desktop) {
        width: 55%;
    }
}

.coin-wrapper{
    padding: 20px 0;

    @media screen and (min-width: $tablet) {
        padding: 0;
    }
}

.coin {
    position: relative;
    height: 270px;
    width: 270px;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.coin-circle{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $accent-color;
    box-shadow: 0 1px 2px #6b48f21f,
        0 1px 2px #6b48f23d;

    &--left {
        left: -17px;
    }
    
    &--right {
        right: -17px;
    }
}

.coin-title-top {
    position: absolute;
    top: -18px;
    height: 135px;
    font-size: 11px;
    color: $accent-color;
    text-shadow: 0 1px 2px #6b48f21f, 0 1px 2px #6b48f23d;
    transform-origin: bottom;

    &--1 {
        transform: rotate(-36deg);
    }

    &--2 {
        transform: rotate(-28deg);
    }

    &--3 {
        transform: rotate(-20deg);
    }

    &--4 {
        transform: rotate(-12deg);
    }

    &--5 {
        transform: rotate(-4deg);
    }

    &--6 {
        transform: rotate(4deg);
    }

    &--7 {
        transform: rotate(12deg);
    }

    &--8 {
        transform: rotate(20deg);
    }

    &--9 {
        transform: rotate(28deg);
    }

    &--10 {
        transform: rotate(36deg);
    }
}

.coin-title-bottom {
    position: absolute;
    top: -29px;
    height: 135px;
    font-size: 11px;
    color: $accent-color;
    text-shadow: 0 1px 2px #6b48f21f, 0 1px 2px #6b48f23d;
    transform-origin: bottom;

    &--1 {
        transform: rotate(-216deg);
    }

    &--2 {
        transform: rotate(-208deg);
    }

    &--3 {
        transform: rotate(-200deg);
    }

    &--4 {
        transform: rotate(-192deg);
    }

    &--5 {
        transform: rotate(-184deg);
    }

    &--6 {
        transform: rotate(184deg);
    }

    &--7 {
        transform: rotate(192deg);
    }

    &--8 {
        transform: rotate(200deg);
    }

    &--9 {
        transform: rotate(208deg);
    }

    &--10 {
        transform: rotate(216deg);
    }
}

.heads,
.tails{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $button-secondary-color;
    background-color: $accent-color;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 24px solid $button-secondary-color;
    box-shadow: 0 1px 3px #6b48f21f, 0 1px 2px #6b48f23d;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 2;
    text-transform: uppercase;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.coin-text{
    text-shadow: 0 1px 3px #46319b, 0 1px 2px #46319b;
}

.tails {
    transform: rotateX(180deg);
}

@keyframes spin-tails {
    0% {
        transform: rotateX(0);
    }

    100% {
        transform: rotateX(1980deg);
    }
}

@keyframes spin-heads {
    0% {
        transform: rotateX(0);
    }

    100% {
        transform: rotateX(2160deg);
    }
}

.coin-flip-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 60px;
    margin-top: 20px;
    padding: 20px;
    border: none;
    border-radius: 8px;
    font-weight: 500;
    box-shadow: 0 1px 3px #6b48f21f, 0 1px 2px #6b48f23d;
    transition: all .25s cubic-bezier(.4, 0, .2, 1);
    cursor: pointer;
    z-index: 1;

    &--enabled {
        color: #fff;
        background-color: $accent-color;
    }

    &--enabled:hover,
    &--enabled:focus {
        background-color: $button-hover;
    }

    &--disabled {
        color: $button-disabled;
        background-color: $button-disabled-text;
        cursor: auto;
    }
}

.coin-reset-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 60px;
    margin-top: 20px;
    padding: 20px;
    border: none;
    border-radius: 8px;
    font-weight: 500;
    box-shadow: 0 1px 3px #6b48f21f, 0 1px 2px #6b48f23d;
    transition: all .25s cubic-bezier(.4, 0, .2, 1);
    z-index: 0;
    cursor: pointer;

    &--enabled {
        color: $accent-color;
        background-color: $white-color;
        opacity: 1;
        visibility: visible;
    }

    &--enabled:hover,
    &--enabled:focus {
        background-color: $button-disabled-text;
    }

    &--disabled {
        color: $button-disabled;
        background-color: $button-disabled-text;
        cursor: auto;
    }

    &--hidden{
        margin-top: -60px;
        opacity: 0;
        visibility: hidden;
    }
}

.coin-statistics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: -20px;
}

.coin-statistics__count {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 70px;
    margin-left: 20px;
    padding: 10px 30px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 1px 3px #6b48f21f, 0 1px 2px #6b48f23d;

    @media screen and (min-width: $tablet) {
        margin-top: 0;
    }
}

.coin-statistics__description {
    visibility: visible;
    opacity: 100%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 9px;
    font-size: 11px;

    &--heads,
    &--tails {
        color: $accent-color;
    }
}

.coin-statistics__heads-count,
.coin-statistics__tails-count {
    font-size: 16px;
    font-weight: 500;
}