.dice--container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dice-wrapper {
    display: flex;
    margin-top: -50px;
    margin-left: -50px;
    padding: 30px 0;
    transition: all .25s cubic-bezier(.4, 0, .2, 1);
}

.dice {
    position: relative;
    margin-top: 50px;
    margin-left: 50px;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    transition: 1s ease;
}

@keyframes rolling {
    50% {
        transform: rotateX(455deg) rotateY(455deg);
    }
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 5px solid white;
    transform-style: preserve-3d;
    background: linear-gradient(145deg, $button-secondary-color, $white-color);
    box-shadow: 0 1px 3px #6b48f21f, 0 1px 2px #6b48f23d;
}

.face::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: white;
    transform: translateX(-50%) translateZ(-1px);
}

.face::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: black;
}

.front{
    transform: translateZ(50px);

    &::after{
        width: 30px;
        height: 30px;
        background: $accent-color;
        margin: -15px 0 0 -15px;
    }
}

.back {
    transform: rotateX(180deg) translateZ(50px);
    
    &::after{
        margin: -35px 0 0 -30px;
        box-shadow: 40px 0,
            0 25px,
            40px 25px,
            0 50px,
            40px 50px;
    }
}

.top {
    transform: rotateX(90deg) translateZ(50px);

    &::after{
        margin: -30px 0 0 -30px;
        box-shadow: 40px 40px;
    }
}

.bottom {
    transform: rotateX(-90deg) translateZ(50px);
// 
    &::after {
        margin: -36px 0 0 -36px;
        box-shadow: 26px 26px,
            52px 52px,
            52px 0,
            0 52px;
        transform: translateZ(1px)
    }
}

.right {
    transform: rotateY(90deg) translateZ(50px);

    &::after {
        margin: -30px 0 0 -30px;
        box-shadow: 40px 0,
            0 40px,
            40px 40px;
    }
}

.left {
    transform: rotateY(-90deg) translateZ(50px);

    &::after {
        margin: -35px 0 0 -35px;
        box-shadow: 25px 25px,
            50px 50px;
        transform: translateZ(1px)
    }
}

.roll-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    margin-top: 25px;
    padding: 20px;
    border: none;
    border-radius: 8px;
    font-weight: 500;
    box-shadow: 0 1px 3px #6b48f21f, 0 1px 2px #6b48f23d;
    transition: all .25s cubic-bezier(.4, 0, .2, 1);
    cursor: pointer;

    &--enabled {
        color: #fff;
        background-color: $accent-color;
    }

    &--enabled:hover,
    &--enabled:focus{
        background-color: $button-hover;
    }

    &--disabled{
        color: $button-disabled;
        background-color: $button-disabled-text;
        cursor: auto;
    }
}

// Amount input styles
.dice__input-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 260px;
    height: 70px;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: $main-box-shadow;

    &--amount {
        @media screen and (min-width:$tablet) {
            width: 92.75%;
        }

        @media screen and (min-width:$desktop) {
            width: 95.54%;
        }
    }
}

.dice__input-label {
    visibility: visible;
    opacity: 100%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 9px;
    font-size: 11px;
    color: $text-black-secondary;

    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dice__input-wrapper:hover .dice__input-label,
#dice-amount:focus~.dice__input-label {
    visibility: hidden;
    opacity: 0;
}

.dice__quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: $accent-color;
    background-color: $button-secondary-color;
    border-radius: 40px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        outline: none;
        color: #fff;
        background-color: $accent-color;
    }

    // Rule for iOS devices to prevent stacked hover effect
    @media (hover: hover) {

        &:hover,
        &:focus {
            color: #fff;
            background-color: $accent-color;
        }
    }

    &--icon {
        fill: currentColor;
    }
}

.dice__quantity--disabled {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: $button-disabled;
    background-color: $button-disabled-text;
    border-radius: 40px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        outline: none;
    }

    &--icon {
        fill: currentColor;
    }
}

#dice-amount {
    margin: 0 20px;
    padding: 15px;
    font-size: 16px;
    width: 100%;
    font-weight: 500;
    border-radius: 8px;
    border: 2px solid transparent;
    text-align: center;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dice__input-wrapper:hover #dice-amount {
    outline: none;
    border: 2px solid $input-border;
}

.dice__input-wrapper:hover #dice-amount:focus,
#dice-amount:focus {
    outline: none;
    border: 2px solid $accent-color;
}