.dice--container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dice {
    position: relative;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    transition: 1s ease;
}

@keyframes rolling {
    50% {
        transform: rotateX(455deg) rotateY(455deg);
    }
}

.dice-wrapper{
    padding: 30px 0;
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 5px solid white;
    transform-style: preserve-3d;
    background: linear-gradient(145deg, $button-secondary-color, $white-color);
    box-shadow: 0 1px 3px #6b48f21f, 0 1px 2px #6b48f23d;
}

.face::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: white;
    transform: translateX(-50%) translateZ(-1px);
}

.face::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: black;
}

.front{
    transform: translateZ(50px);

    &::after{
        width: 30px;
        height: 30px;
        background: $accent-color;
        margin: -15px 0 0 -15px;
    }
}

.back {
    transform: rotateX(180deg) translateZ(50px);
    
    &::after{
        background: red;
        margin: -35px 0 0 -30px;
        -webkit-box-shadow: 40px 0,
            0 25px,
            40px 25px,
            0 50px,
            40px 50px;
    }
}

.top {
    transform: rotateX(90deg) translateZ(50px);

    &::after{
        background: green;
        margin: -30px 0 0 -30px;
        -webkit-box-shadow: 40px 40px;
    }
}

.bottom {
    transform: rotateX(-90deg) translateZ(50px);
// 
    &::after {
        background: blue;
        // margin: -36px 0 0 -36px;
        // -webkit-box-shadow: 26px 26px,
        //     52px 52px,
        //     52px 0,
        //     0 52px;
        margin: -30px 0 0 -30px;
            -webkit-box-shadow: 40px 40px;
    }
}

.right {
    transform: rotateY(90deg) translateZ(50px);

    &::after {
        background: orange;
        margin: -30px 0 0 -30px;
        -webkit-box-shadow: 40px 0,
            0 40px,
            40px 40px;
    }
}

.left {
    transform: rotateY(-90deg) translateZ(50px);
// 
    &::after {
        background: purple;
        // margin: -35px 0 0 -35px;
        // -webkit-box-shadow: 25px 25px,
        //     50px 50px;
        margin: -30px 0 0 -30px;
            -webkit-box-shadow: 40px 40px;
    }
}

.roll-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    margin-top: 25px;
    padding: 20px;
    border: none;
    border-radius: 8px;
    font-weight: 500;
    color: #fff; 
    background-color: $accent-color;
    box-shadow: 0 1px 3px #6b48f21f, 0 1px 2px #6b48f23d;
    transition: all .25s cubic-bezier(.4, 0, .2, 1);
    cursor: pointer;

    &:hover,
    &:focus{
        background-color: $button-hover;
    }
}