.footer{
    display: none;
    
    @media screen and (min-width: $tablet) {
        margin-top: auto;
        display: flex;
        align-items: center;
        padding: 20px 0;
        background-color: white;
        box-shadow: 0 -1px 3px rgba(107, 72, 242, 0.12),
            0 1px 2px rgba(107, 72, 242, 0.24);
    }
}

.social-footer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    &__item+&__item {
        margin-left: 20px;
    }
}

.social-footer__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: $button-secondary-color;
    color: $accent-color;
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        outline: none;
        background-color: $accent-color;
        color: white;
    }
}

// Rule for iOS devices to prevent stacked hover effect
@media (hover: hover) {
    .social-footer__link:hover {
        background-color: $accent-color;
            color: white;
    }
}

.social-footer__icon {
    fill: currentColor;
}

.footer__copyright{
    font-size: 13px;
    color: grey;
}