.header{
    padding: 20px 0;
    background-color: rgb(241, 241, 241);
}

.navigation{
    display: flex;
    justify-content: space-between;
}

.nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo,
.nav-menu__item{
    cursor: pointer;
}

.nav-menu__item:hover,
.nav-menu__item:focus{
    color: dodgerblue;
}

.nav-menu__item:not(:last-of-type){
    margin-right: 20px;
}

.current{
    color:dodgerblue
}