.randomizer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.randomize__buttons{
    display: flex;
    margin: 10px 0;
}

.randomize__button{
    cursor: pointer;

    &:not(:last-child){
        margin-right: 10px;
    }
}

.hidden{
    display: none;
}