.randomizer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.appear-wrapper {
    position: absolute;
    top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &--show{
        top: 195px;
    }

    @media screen and (min-width: $tablet) {
        top: 0;

        &--show {
                top: 93px;
            }
    }
}

.amount-hidden{
    visibility: hidden;
    opacity:0;
}

.randomize__single{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    margin-bottom: 20px;
    z-index: 20;

    & div:first-child {
        margin: 0 0 20px 0;
    }

    @media screen and (min-width: $tablet) {
        flex-direction: row;
        width: 90%;

        & div:first-child {
            margin: 0 20px 0 0;
        }
    }

    @media screen and (min-width: $desktop) {
        width: 80%;
    }
}

.randomize__multiple{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    // opacity: 100%;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    & div:first-child {
        margin: 0 0 20px 0;
    }

    @media screen and (min-width: $tablet) {
        flex-direction: row;
        width: 90%;

        & div:first-child {
            margin: 0 20px 0 0;
        }
    }

    @media screen and (min-width: $desktop) {
        width: 80%;
    }

    &--settings{
        display: flex;
        align-items: center;
        width: 100%;

        @media screen and (min-width: $tablet) {
            margin-bottom: 0;
        }

        & select {
            margin: 0 20px 0 0;
            max-width: 50%;
        }
    }
}

.hidden{
    display: none;
}

.randomize__input-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: $main-box-shadow;

    &--amount{
        @media screen and (min-width:$tablet) {
            width: 92.75%;
        }

        @media screen and (min-width:$desktop) {
            width: 95.54%;
        }
    }
}

.randomize__quantity{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: $accent-color;
    background-color: $button-secondary-color;
    border-radius: 40px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

    // &:hover,
    &:focus {
        outline: none;
        color: #fff;
        background-color: $accent-color;
    }

    @media (hover: hover) {
        &:hover,
        &:focus {
            color: #fff;
            background-color: $accent-color;
        }
    }

    &--icon {
        fill: currentColor;
    }
}

.randomize__quantity--disabled{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: $button-disabled;
    background-color: $button-disabled-text;
    border-radius: 40px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        outline: none;
    }

    &--icon {
        fill: currentColor;
    }
}

#random-from,
#random-to,
#random-amount{
    margin: 0 20px;
    padding: 15px;
    font-size: 16px;
    width: 100%;
    font-weight: 500;
    border-radius: 8px;
    border: 2px solid transparent;
    text-align: center;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.randomize__input-wrapper:hover #random-from,
.randomize__input-wrapper:hover #random-to,
.randomize__input-wrapper:hover #random-amount{
    outline: none;
    border: 2px solid $input-border;
}

.randomize__input-wrapper:hover #random-from:focus,
.randomize__input-wrapper:hover #random-to:focus,
.randomize__input-wrapper:hover #random-amount:focus,
#random-from:focus,
#random-to:focus,
#random-amount:focus{
    outline: none;
    border: 2px solid $accent-color;
}

#sort-type{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 18px;
    border-radius: 8px;
    color: $text-black;
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
    line-height: normal;
    border: none;
    background-color: #fff;
    box-shadow: $main-box-shadow;
    cursor: pointer;

    @media screen and (min-width:$tablet) {
        padding: 25px
    }

    &:focus {
        outline: none;
    }
}

#sort-type option {
    padding: 0;
    margin: 0;
}