.password--container {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

// Styles for generated password result field
.password__result-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #fff;
    background-color: $white-color;
    box-shadow: $main-box-shadow;

    @media screen and (min-width: $tablet) {
        width: 60%;
    }

    @media screen and (min-width: $desktop) {
        width: 40%;
    }
}

.password__input-label {
    visibility: visible;
    opacity: 100%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 9px;
    font-size: 11px;
    color: $text-black-secondary;
    cursor: auto;

    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        visibility: hidden;
        opacity: 0;
    }
}

.password__input-label--checkbox {
    cursor: pointer;
}

.password__result-label {
    visibility: visible;
    opacity: 100%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 9px;
    font-size: 11px;
    color: $text-black-secondary;
    cursor: default;

    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.password__result-label--hidden {
    opacity: 0;
    visibility: hidden;
}

.password__result-label--visible {
    opacity: 1;
    visibility: visible;
    color: #3eaa3e;
}

.password__strength {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: $button-disabled;
    background-color: $button-disabled-text;
    border-radius: 40px;
    border: none;
    font-size: 20px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &--bad {
        background-color: rgb(226, 130, 130);
        color: $white-color;
    }

    &--average {
        background-color: rgb(243, 190, 130);
        color: $white-color;
    }

    &--good {
        background-color: rgb(113, 209, 113);
        color: $white-color;
    }

    &--great {
        background-color: rgb(62, 170, 62);
        color: $white-color;
    }

    &--icon {
        fill: currentColor;
    }
}

.password__result-copy {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: $accent-color;
    background-color: $button-secondary-color;
    border-radius: 40px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        outline: none;
        color: #fff;
        background-color: $accent-color;
    }

    // Rule for iOS devices to prevent stacked hover effect
    @media (hover: hover) {

        &:hover,
        &:focus {
            color: #fff;
            background-color: $accent-color;
        }
    }

    &--icon {
        fill: currentColor;
    }
}

.password__result-copy--disabled {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: $button-disabled;
    background-color: $button-disabled-text;
    border-radius: 40px;
    border: none;
    font-size: 20px;
    cursor: auto;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        outline: none;
        color: $button-disabled;
        background-color: $button-disabled-text;
    }

    &--icon {
        fill: currentColor;
    }
}

#password-result {
    margin: 0 5px;
    padding: 10px;
    font-size: 16px;
    line-height: 0;
    width: 100%;
    font-weight: 500;
    border-radius: 8px;
    border: 2px solid transparent;
    text-shadow: $main-box-shadow;
    color: $accent-color;
    background-color: inherit;
    text-align: center;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: text;

    // Adding extra styles for correct Safari appearance of text color
    &:disabled{
        text-shadow: $main-box-shadow;
        color: $accent-color;
        -webkit-text-fill-color: $accent-color;
        opacity: 1;
    }
}

.password__result-wrapper:hover #password-result {
    outline: none;
    // border: 2px solid $input-border;
}

.password__result-wrapper:hover #password-result:focus,
#password-result:focus {
    outline: none;
    // border: 2px solid $accent-color;
}

// Styles for password length input
.password__length-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    margin-top: 30px;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: $main-box-shadow;

    @media screen and (min-width: $tablet) {
        width: 60%;
    }

    @media screen and (min-width: $desktop) {
        width: 40%;
    }
}

.password__length-wrapper:hover .password__input-label,
#password-length:focus~.password__input-label {
    visibility: hidden;
    opacity: 0;
}

.password__length {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: $accent-color;
    background-color: $button-secondary-color;
    border-radius: 40px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        outline: none;
        color: #fff;
        background-color: $accent-color;
    }

    // Rule for iOS devices to prevent stacked hover effect
    @media (hover: hover) {

        &:hover,
        &:focus {
            color: #fff;
            background-color: $accent-color;
        }
    }

    &--icon {
        fill: currentColor;
    }
}

.password__length--disabled {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: $button-disabled;
    background-color: $button-disabled-text;
    border-radius: 40px;
    border: none;
    font-size: 20px;
    cursor: auto;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        outline: none;
    }

    &--icon {
        fill: currentColor;
    }
}

#password-length {
    margin: 0 20px;
    padding: 15px;
    font-size: 16px;
    width: 100%;
    font-weight: 500;
    border-radius: 8px;
    border: 2px solid transparent;
    text-align: center;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.password__length-wrapper:hover #password-length {
    outline: none;
    border: 2px solid $input-border;
}

.password__length-wrapper:hover #password-length:focus,
#password-length:focus {
    outline: none;
    border: 2px solid $accent-color;
}

// Settings checkboxes
.password__settings-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    @media screen and (min-width: $tablet) {
        width: 60%;
    }

    @media screen and (min-width: $desktop) {
        width: 40%;
    }
}

.password__checkbox-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 15px;
    width: 48.5%;
    height: 70px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: $main-box-shadow;

    // @media screen and (min-width: $tablet) {
    //     width: 48%;
    // }
}

#lowercase-checkbox,
#uppercase-checkbox,
#numbers-checkbox,
#symbols-checkbox {
    display: none;
}

.password__checkbox-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    color: rgb(226, 130, 130);
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.password__checkbox-label--on {
    color: rgb(62, 170, 62);
}

// Rule for iOS devices to prevent stacked hover effect
@media (hover: hover) {
    .password__checkbox-label:hover~.password__input-label {
        visibility: hidden;
        opacity: 0;
    }
}

// Styles for button
.password__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px;
    width: 100%;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    box-shadow: $main-box-shadow;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;

    &--generate {
        color: #fff;
        background-color: $accent-color;
        margin-top: 30px;
        height: 70px;
        width: 100%;

        @media screen and (min-width:$tablet) {
            width: 60%;
        }

        @media screen and (min-width:$desktop) {
            width: 40%;
        }
    }

    &--generate:focus {
        outline: none;
        background-color: $button-hover;
    }
}

// prevent sticky hover effects for buttons on touch devices
@media (hover: hover) {
    .password__button--generate:hover {
        background-color: $button-hover;
    }
}