.yesno--container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    font-size: 12px;

    @media screen and (min-width: $tablet) {
        width: 90%;
        flex-direction: row;
    }

    @media screen and (min-width: $desktop) {
        width: 65%;
    }
};

.spinner-container{
    position: relative;
    width: 100%;
    height: 100%;

    @media screen and (min-width: $tablet) {
        width: 55%;
        height: 55%;
    }

    @media screen and (min-width: $desktop) {
        width: 50%;
        height: 50%;
    }
}

#wheel{
    max-height: inherit;
    width: inherit;
    top: 0;
    padding: 0;
    border-radius: 50%;
    box-shadow: 0 1px 3px #6b48f21f, 0 1px 2px #6b48f23d;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.spin-button{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 20%;
    width: 20%;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border: 0;
    border-radius: 50%;
    box-shadow: 0 1px 3px #6b48f21f, 0 1px 2px #6b48f23d;
    transition: all .25s cubic-bezier(.4, 0, .2, 1);
    cursor: pointer;
    z-index: 10;

    &--enabled{
        color: #fff;
        background-color: $accent-color;
    }

    &--enabled:hover,
    &--enabled:focus {
        height: 21%;
        width: 21%;
        background-color: $button-hover;
    }

    &--disabled {
        color: $button-disabled;
        background-color: $button-disabled-text;
        cursor: auto;
    }
}

.spinner__arrow-left{
    position: absolute;
    top: 45%;
    right: -5%;
    fill: $accent-color;
    transform: rotate(-135deg);
}

.result-field{
    display: block;
    width: 90%;
    margin-top: 30px;
    // background-color: gold;

    @media screen and (min-width: $tablet) {
        width: 250px;
        margin-top: 0;
    }
}

#final-value{
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
}

.result-instructions,
.result-loading{
    padding: 15px 0;
}

.yesno-result {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;

    color: $accent-color;
    text-shadow: $main-box-shadow;

    &--multiple {
        font-size: 28px;
    }
}

.yesno-statistics{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: -20px;
}

.yesno-statistics__count{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 190px;
    height: 70px;
    margin-left: 20px;
    padding: 10px 30px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 1px 3px #6b48f21f, 0 1px 2px #6b48f23d;

    @media screen and (min-width: $tablet) {
        width: 115px;
        margin-top: 0;
    }
}

.yesno-statistics__description {
    visibility: visible;
    opacity: 100%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 9px;
    font-size: 11px;

    &--yes{
        color: #3eaa3e;
    }

    &--no {
        color: #e28282;
    }
}

.yesno-statistics__yes-count,
.yesno-statistics__no-count{
    font-size: 16px;
    font-weight: 500;
}