// .yesno {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }

* {
    margin: 0;
    padding: 0;
};

.wrapper{
    width: 70%;
    max-width: 25.37em;
    max-height: 70vh;
    background-color: #e5d9f5;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 2em;
    border-radius: 1em;
    box-shadow: 0 4em 5em rgba(27, 8, 53, 0.2);
};

.yesno-container{
    position: relative;
    width: 100%;
    height: 100%;
}

#wheel{
    max-height: inherit;
    width: inherit;
    top: 0;
    padding: 0;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

#spin-button{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 20%;
    width: 20%;
    background: radial-gradient(#fdcf3b 50%, #d88a40 85%);
    color: #c66e16;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
}

.yesno--arrow-left{
    position: absolute;
    top: 45%;
    right: -4%;
}

#final-value{
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    .wrapper {
        font-size: 12px;
    }

    .yesno--arrow-left {
        right: -5%;
    }
}