$accent-color: #ff6b01;
$accent-color-secondary: #ff6b08;
$logo-color: #818181;
$text-black: #000000;
$text-black-secondary: #8c8c8c;
$white-color: #ffffff;
$grey-color: #f7f7f7;
$button-hover-color: #ff6c02e3;
$alert-color: #ff001b;
