$accent-color: #1e90ff;
$accent-color-secondary: #0e84f9;
$logo-color: #818181;
$text-black: #060606;
$text-black-secondary: #8c8c8c;
$white-color: #ffffff;
$grey-color: #f7f7f7;
$button-hover-color: #0e84f9;
$alert-color: #ff001b;
