$accent-color: #6b48f2;
$accent-color-secondary: #46319b;
$text-black: #3a3a3a;
$text-black-secondary: #dbdbdb;
$input-border: #e5e0f5;
$white-color: #ffffff;
$button-secondary-color: #EEEAFD;
$button-disabled: #747474;
$button-disabled-text: #f0f0f0;
$alert-color: #ff001b;
