<section id="section-coin" class="section hidden">
  <div class="container coin--container">
    <h2 class="section__title">Flip a coin</h2>
    <div class="coin-wrapper">
      <div class="coin">
        <div class="heads">
          <p>Heads</p>
        </div>
        <div class="tails">
          <p>Tails</p>
        </div>
      </div>
    </div>

    <div class="coin-controlls">
      <button
        class="coin-flip-button coin-flip-button--enabled"
        onclick="this.blur();"
      >
        Flip
      </button>
      <button
        class="coin-reset-button coin-reset-button--enabled coin-reset-button--hidden"
        onclick="this.blur();"
      >
        Reset
      </button>

      <div class="coin-statistics">
        <div class="coin-statistics__count">
          <p
            class="coin-statistics__description coin-statistics__description--heads"
          >
            Heads
          </p>
          <p class="coin-statistics__heads-count">0</p>
        </div>
        <div class="coin-statistics__count">
          <p
            class="coin-statistics__description coin-statistics__description--tails"
          >
            Tails
          </p>
          <p class="coin-statistics__tails-count">0</p>
        </div>
      </div>
    </div>
  </div>
</section>
