<section id="section-coin" class="section hidden">
  <div class="container coin">
    <h2 class="section__title">Flip a coin</h2>



    <div class="coin-statistics">
          <div class="coin-statistics__count">
            <p
              class="coin-statistics__description coin-statistics__description--heads"
            >
              Heads
            </p>
            <p class="coin-statistics__heads-count">0</p>
          </div>
          <div class="coin-statistics__count">
            <p
              class="coin-statistics__description coin-statistics__description--tails"
            >
              Tails
            </p>
            <p class="coin-statistics__tails-count">0</p>
          </div>
  </div>
</section>
