<section id="section-coin" class="section hidden">
  <div class="container coin--container">
    <h2 class="section__title">Flip a coin</h2>
    <div class="coin-wrapper">
      <div class="coin">
        <div class="heads">
          <span class="coin-title-top coin-title-top--1">R</span>
          <span class="coin-title-top coin-title-top--2">A</span>
          <span class="coin-title-top coin-title-top--3">N</span>
          <span class="coin-title-top coin-title-top--4">D</span>
          <span class="coin-title-top coin-title-top--5">O</span>
          <span class="coin-title-top coin-title-top--6">M</span>
          <span class="coin-title-top coin-title-top--7">H</span>
          <span class="coin-title-top coin-title-top--8">O</span>
          <span class="coin-title-top coin-title-top--9">O</span>
          <span class="coin-title-top coin-title-top--10">D</span>
          <div class="coin-circle coin-circle--left"></div>
          <p class="coin-text">Heads</p>
          <div class="coin-circle coin-circle--right"></div>
          <span class="coin-title-bottom coin-title-bottom--1">R</span>
          <span class="coin-title-bottom coin-title-bottom--2">A</span>
          <span class="coin-title-bottom coin-title-bottom--3">N</span>
          <span class="coin-title-bottom coin-title-bottom--4">D</span>
          <span class="coin-title-bottom coin-title-bottom--5">O</span>
          <span class="coin-title-bottom coin-title-bottom--6">M</span>
          <span class="coin-title-bottom coin-title-bottom--7">H</span>
          <span class="coin-title-bottom coin-title-bottom--8">O</span>
          <span class="coin-title-bottom coin-title-bottom--9">O</span>
          <span class="coin-title-bottom coin-title-bottom--10">D</span>
        </div>
        <div class="tails">
          <span class="coin-title-top coin-title-top--1">R</span>
          <span class="coin-title-top coin-title-top--2">A</span>
          <span class="coin-title-top coin-title-top--3">N</span>
          <span class="coin-title-top coin-title-top--4">D</span>
          <span class="coin-title-top coin-title-top--5">O</span>
          <span class="coin-title-top coin-title-top--6">M</span>
          <span class="coin-title-top coin-title-top--7">H</span>
          <span class="coin-title-top coin-title-top--8">O</span>
          <span class="coin-title-top coin-title-top--9">O</span>
          <span class="coin-title-top coin-title-top--10">D</span>
          <div class="coin-circle coin-circle--left"></div>
          <p class="coin-text">Tails</p>
          <div class="coin-circle coin-circle--right"></div>
          <span class="coin-title-bottom coin-title-bottom--1">R</span>
          <span class="coin-title-bottom coin-title-bottom--2">A</span>
          <span class="coin-title-bottom coin-title-bottom--3">N</span>
          <span class="coin-title-bottom coin-title-bottom--4">D</span>
          <span class="coin-title-bottom coin-title-bottom--5">O</span>
          <span class="coin-title-bottom coin-title-bottom--6">M</span>
          <span class="coin-title-bottom coin-title-bottom--7">H</span>
          <span class="coin-title-bottom coin-title-bottom--8">O</span>
          <span class="coin-title-bottom coin-title-bottom--9">O</span>
          <span class="coin-title-bottom coin-title-bottom--10">D</span>
        </div>
      </div>
    </div>

    <div class="coin-controlls">
      <button
        class="coin-flip-button coin-flip-button--enabled"
        onclick="this.blur();"
      >
        Flip
      </button>
      <button
        class="coin-reset-button coin-reset-button--enabled coin-reset-button--hidden"
        onclick="this.blur();"
      >
        Reset
      </button>

      <div class="coin-statistics">
        <div class="coin-statistics__count">
          <p
            class="coin-statistics__description coin-statistics__description--heads"
          >
            Heads
          </p>
          <p class="coin-statistics__heads-count">0</p>
        </div>
        <div class="coin-statistics__count">
          <p
            class="coin-statistics__description coin-statistics__description--tails"
          >
            Tails
          </p>
          <p class="coin-statistics__tails-count">0</p>
        </div>
      </div>
    </div>
  </div>
</section>
