<section id="section-dice" class="section hidden">
  <div class="container dice--container">
    <h2 class="section__title">Roll the dice</h2>
    <div class="dice-wrapper">
      <div class="dice dice-1">
        <div class="face front"></div>
        <div class="face back"></div>
        <div class="face top"></div>
        <div class="face bottom"></div>
        <div class="face right"></div>
        <div class="face left"></div>
      </div>
      <div class="dice dice-2">
        <div class="face front"></div>
        <div class="face back"></div>
        <div class="face top"></div>
        <div class="face bottom"></div>
        <div class="face right"></div>
        <div class="face left"></div>
      </div>
    </div>
    <div class="dice-controlls">
      <button class="roll-button roll-button--enabled">Roll</button>

      <div class="dice__input-wrapper">
        <button
          type="button"
          id="dice-remove"
          class="dice__quantity"
          onclick="this.blur();"
        >
          <svg
            class="dice__quantity--icon"
            width="20"
            height="20"
            aria-label="minus"
          >
            <use href="./images/icons.svg#minus"></use>
          </svg>
        </button>
        <input id="dice-amount" type="number" name="dice-amount" value="2" />
        <label class="dice__input-label" for="dice-amount">Amount</label>
        <button
          type="button"
          id="dice-add"
          class="dice__quantity"
          onclick="this.blur();"
        >
          <svg
            class="dice__quantity--icon"
            width="20"
            height="20"
            aria-label="plus"
          >
            <use href="./images/icons.svg#plus"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
