<section id="section-dice" class="section hidden">
  <div class="container dice--container">
    <h2 class="section__title">Roll the dice</h2>
    <div class="dice-wrapper">
      <div class="dice">
        <div class="face front"></div>
        <div class="face back"></div>
        <div class="face top"></div>
        <div class="face bottom"></div>
        <div class="face right"></div>
        <div class="face left"></div>
      </div>
    </div>
    <button class="roll-button roll-button--enabled">Roll</button>
  </div>
</section>
