<header class="header">
  <div class="container">
    <nav class="navigation">
      <!-- <a id="nav-logo" class="logo link">Randomizer</a> -->
      <a id="nav-logo" class="logo link">
        <svg class="logo-icon" width="24" height="24" aria-label="logo">
          <use href="./images/icons.svg#logo"></use>
        </svg>
        <p class="text">Randomizer</p>
        <!-- randomhood -->
      </a>
      <ul class="nav-menu list">
        <li id="nav-number" class="nav-menu__item current">
          <a class="nav-menu__link"> Number </a>
        </li>
        <li id="nav-yesno" class="nav-menu__item">
          <a class="nav-menu__link"> Yes / No </a>
        </li>
        <li id="nav-dice" class="nav-menu__item">
          <a class="nav-menu__link"> Dice </a>
        </li>
        <li id="nav-coin" class="nav-menu__item">
          <a class="nav-menu__link"> Coin </a>
        </li>
        <li id="nav-password" class="nav-menu__item">
          <a class="nav-menu__link"> Password </a>
        </li>
      </ul>

      <!-- Mobile menu -->
      <button
        type="button"
        class="mobile-nav-menu__button mobile-nav-menu__button--open"
      >
        <svg
          class="mobile-nav-menu__icon--open"
          width="24"
          height="24"
          aria-label="logo"
        >
          <use href="./images/icons.svg#menu"></use>
        </svg>
      </button>

      <div class="mobile-nav-menu__wrapper">
        <button
          type="button"
          class="mobile-nav-menu__button mobile-nav-menu__button--close"
        >
          <svg
            class="mobile-nav-menu__icon--close"
            width="30"
            height="30"
            aria-label="logo"
          >
            <use href="./images/icons.svg#close"></use>
          </svg>
        </button>

        <ul class="mobile-nav-menu list">
          <li
            id="mobile-nav-number"
            class="mobile-nav-menu__item mobile-current"
          >
            <a class="mobile-nav-menu__link"> Number </a>
          </li>
          <li id="mobile-nav-yesno" class="mobile-nav-menu__item">
            <a class="mobile-nav-menu__link"> Yes / No </a>
          </li>
          <li id="mobile-nav-dice" class="mobile-nav-menu__item">
            <a class="mobile-nav-menu__link"> Dice </a>
          </li>
          <li id="mobile-nav-coin" class="mobile-nav-menu__item">
            <a class="mobile-nav-menu__link"> Coin </a>
          </li>
          <li id="mobile-nav-password" class="mobile-nav-menu__item">
            <a class="mobile-nav-menu__link"> Password </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
