<header class="header">
  <div class="container header__position">
    <a class="logo link">Randomizer</a>
    <ul class="navigation list">
      <li class="navigation__item">
        <a class="navigation__link current"> Number </a>
      </li>
      <li class="navigation__item">
        <a class="navigation__link"> Yes / No </a>
      </li>
      <li class="navigation__item">
        <a class="navigation__link"> Dice </a>
      </li>
      <li class="navigation__item">
        <a class="navigation__link"> Coin </a>
      </li>
      <li class="navigation__item">
        <a class="navigation__link"> Password </a>
      </li>
    </ul>
  </div>
</header>
