<header class="header">
  <div class="container header__position">
    <a class="logo link">Randomizer</a>
    <ul class="navigation list">
      <li class="navigation__item">
        <a id="nav-number" class="navigation__link current"> Number </a>
      </li>
      <li class="navigation__item">
        <a id="nav-yesno" class="navigation__link"> Yes / No </a>
      </li>
      <li class="navigation__item">
        <a id="nav-dice" class="navigation__link"> Dice </a>
      </li>
      <li class="navigation__item">
        <a id="nav-coin" class="navigation__link"> Coin </a>
      </li>
      <li class="navigation__item">
        <a id="nav-password" class="navigation__link"> Password </a>
      </li>
    </ul>
  </div>
</header>
