<section id="section-number" class="section">
  <div class="container randomizer">
    <h2 class="section__title">Generate random number</h2>

    <form class="test">
      <input
        id="random-from"
        type="number"
        min="0"
        max="9999"
        name="from"
        value="1"
      />
      <input
        id="random-to"
        type="number"
        min="1"
        max="10000"
        name="to"
        value="10"
      />
      <input
        id="random-amount"
        type="number"
        min="1"
        max="100"
        name="amount"
        value="1"
      />

      <select id="sort-type" name="sort-type" disabled="true">
        <option value="1">None</option>
        <option value="2">Ascending</option>
        <option value="3">Descending</option>
      </select>

      <input
        type="checkbox"
        id="duplicates-checkbox"
        name="duplicates-checkbox"
        value="duplicates"
        disabled="true"
      />
      <label for="duplicates-checkbox">Allow duplicates</label>
    </form>

    <div class="randomize__buttons">
      <button
        type="button"
        class="randomize__button randomize__button--generate"
      >
        Generate
      </button>
      <button type="button" class="randomize__button randomize__button--reset">
        Reset
      </button>
    </div>

    <div class="randomize__number-wrapper hidden">
      <p>
        <span class="randomize__number-text">Your number: </span>
        <span class="randomize__number">0</span>
      </p>
    </div>
  </div>
</section>
