<section id="section-number" class="section">
  <div class="container">
    <h2 class="section__title">Generate random number</h2>

    <div class="randomizer">
      <!-- Single number generation -->
      <div class="randomize__single">
        <!-- Input From -->
        <div class="randomize__input-wrapper">
          <button
            type="button"
            id="quantity--from-remove"
            class="randomize__quantity"
            onclick="this.blur();"
          >
            <svg
              class="randomize__quantity--icon"
              width="20"
              height="20"
              aria-label="minus"
            >
              <use href="./images/icons.svg#minus"></use>
            </svg>
          </button>
          <input id="random-from" type="number" name="from" value="1" />
          <label class="randomize__input-label" for="random-from">From</label>
          <button
            type="button"
            id="quantity--from-add"
            class="randomize__quantity"
          >
            <svg
              class="randomize__quantity--icon"
              width="20"
              height="20"
              aria-label="plus"
            >
              <use href="./images/icons.svg#plus"></use>
            </svg>
          </button>
        </div>
        <!-- Input To -->
        <div class="randomize__input-wrapper">
          <button
            type="button"
            id="quantity--to-remove"
            class="randomize__quantity"
            onclick="this.blur();"
          >
            <svg
              class="randomize__quantity--icon"
              width="20"
              height="20"
              aria-label="minus"
            >
              <use href="./images/icons.svg#minus"></use>
            </svg>
          </button>
          <input id="random-to" type="number" name="to" value="10" />
          <label class="randomize__input-label" for="random-to">To</label>
          <button
            type="button"
            id="quantity--to-add"
            class="randomize__quantity"
            onclick="this.blur();"
          >
            <svg
              class="randomize__quantity--icon"
              width="20"
              height="20"
              aria-label="plus"
            >
              <use href="./images/icons.svg#plus"></use>
            </svg>
          </button>
        </div>
      </div>

      <div class="appear-wrapper">
        <!-- Multiple numbers generation -->
        <div class="randomize__multiple hidden-multiple">
          <div
            class="randomize__input-wrapper randomize__input-wrapper--amount"
          >
            <button
              type="button"
              id="quantity--amount-remove"
              class="randomize__quantity--disabled"
              disabled="true"
              onclick="this.blur();"
            >
              <svg
                class="randomize__quantity--icon"
                width="20"
                height="20"
                aria-label="minus"
              >
                <use href="./images/icons.svg#minus"></use>
              </svg>
            </button>
            <input id="random-amount" type="number" name="amount" value="1" />
            <label class="randomize__input-label" for="random-amount"
              >Amount</label
            >
            <button
              type="button"
              id="quantity--amount-add"
              class="randomize__quantity"
              onclick="this.blur();"
            >
              <svg
                class="randomize__quantity--icon"
                width="20"
                height="20"
                aria-label="plus"
              >
                <use href="./images/icons.svg#plus"></use>
              </svg>
            </button>
          </div>

          <div class="randomize__multiple--settings">
            <div class="randomize__select-wrapper">
              <select id="sort-type" class="js-select" name="sort-type">
                <option value="1">None</option>
                <option value="2">Ascending</option>
                <option value="3">Descending</option>
              </select>

              <!-- This input is created for centering text on iOS Safari -->
              <input type="text" class="js-fake-input" />
              <label class="randomize__input-label" for="sort-type">Sort</label>
            </div>

            <div class="randomize__checkbox-wrapper">
              <input
                type="checkbox"
                id="duplicates-checkbox"
                name="duplicates-checkbox"
                value="duplicates"
              />
              <label class="randomize__checkbox-label" for="duplicates-checkbox"
                >Off</label
              >
              <span class="randomize__input-label">Duplicates</span>
            </div>
          </div>
        </div>

        <!-- Controls Buttons -->
        <div class="randomize__buttons">
          <button
            type="button"
            class="randomize__button randomize__button--generate"
            onclick="this.blur();"
          >
            Generate
          </button>

          <div class="randomize__buttons--controls">
            <button
              type="button"
              id="amount-switcher"
              class="randomize__button randomize__button--amount"
              onclick="this.blur();"
            >
              <span class="amount-switcher--text">Multiple</span>
              <svg
                id="amount-icon--down"
                class="amount-switcher--icon"
                width="20"
                height="20"
                aria-label="down"
              >
                <use href="./images/icons.svg#arrow-down"></use>
              </svg>
              <svg
                id="amount-icon--up"
                class="amount-switcher--icon hidden-icon"
                width="20"
                height="20"
                aria-label="down"
              >
                <use href="./images/icons.svg#arrow-up"></use>
              </svg>
            </button>
            <button
              type="button"
              class="randomize__button randomize__button--reset"
              onclick="this.blur();"
            >
              Reset
            </button>
          </div>
        </div>

        <!-- Results field -->
        <div class="randomize__number-wrapper hidden">
          <p class="randomize__number-text">Your number:</p>
          <p class="randomize__number">0</p>
        </div>
      </div>
    </div>
  </div>
</section>
