<section id="section-password" class="section hidden">
  <div class="container password--container">
    <h2 class="section__title">Generate a password</h2>

    <div class="password__result-wrapper">
      <div id="password-safety" class="password__safety">
        <svg
          class="password__safety--icon"
          width="20"
          height="20"
          aria-label="safety"
        >
          <use href="./images/icons.svg#shield"></use>
        </svg>
      </div>
      <input
        id="password-result"
        type="text"
        name="result"
        value="qweq1231eqwlkmlH&SDkj"
        disabled
      />
      <label
        class="password__input-label password__result-label--hidden"
        for="password-result"
        >Copied</label
      >
      <button
        type="button"
        id="password--result-copy"
        class="password__result-copy"
        onclick="this.blur();"
      >
        <svg
          class="password__result-copy--icon"
          width="20"
          height="20"
          aria-label="plus"
        >
          <use href="./images/icons.svg#copy"></use>
        </svg>
      </button>
    </div>

    <div class="password__length-wrapper">
      <button
        type="button"
        id="password--length-remove"
        class="password__length"
        onclick="this.blur();"
      >
        <svg
          class="password__length--icon"
          width="20"
          height="20"
          aria-label="minus"
        >
          <use href="./images/icons.svg#minus"></use>
        </svg>
      </button>
      <input id="password-length" type="number" name="length" value="10" />
      <label class="password__input-label" for="password-length"
        >Password Length</label
      >
      <button
        type="button"
        id="password--length-add"
        class="password__length"
        onclick="this.blur();"
      >
        <svg
          class="password__length--icon"
          width="20"
          height="20"
          aria-label="plus"
        >
          <use href="./images/icons.svg#plus"></use>
        </svg>
      </button>
    </div>

    <div class="password__settings-wrapper">
      <div class="password__checkbox-wrapper">
        <input
          type="checkbox"
          id="lowercase-checkbox"
          name="lowercase-checkbox"
          value="lowercase"
          checked
        />
        <label
          id="lowercase-checkbox-label"
          class="password__checkbox-label password__checkbox-label--on"
          for="lowercase-checkbox"
          >On</label
        >
        <span class="password__input-label">Lowercase (a-z)</span>
      </div>

      <div class="password__checkbox-wrapper">
        <input
          type="checkbox"
          id="uppercase-checkbox"
          name="uppercase-checkbox"
          value="uppercase"
          checked
        />
        <label
          id="uppercase-checkbox-label"
          class="password__checkbox-label password__checkbox-label--on"
          for="uppercase-checkbox"
          >On</label
        >
        <span class="password__input-label">Uppercase (A-Z)</span>
      </div>

      <div class="password__checkbox-wrapper">
        <input
          type="checkbox"
          id="numbers-checkbox"
          name="numbers-checkbox"
          value="numbers"
          checked
        />
        <label
          id="numbers-checkbox-label"
          class="password__checkbox-label password__checkbox-label--on"
          for="numbers-checkbox"
          >On</label
        >
        <span class="password__input-label">Numbers (0-9)</span>
      </div>

      <div class="password__checkbox-wrapper">
        <input
          type="checkbox"
          id="symbols-checkbox"
          name="symbols-checkbox"
          value="symbols"
        />
        <label
          id="symbols-checkbox-label"
          class="password__checkbox-label"
          for="symbols-checkbox"
          >Off</label
        >
        <span class="password__input-label">Symbols (!-$^+)</span>
      </div>
    </div>

    <button
      type="button"
      class="password__button password__button--generate"
      onclick="this.blur();"
    >
      Generate
    </button>
  </div>
</section>
