<!-- <section id="section-yesno" class="section hidden">
  <div class="container yesno">
    <h2 class="section__title">Generate Yes or No</h2>
    <p>Coming soon...</p>
  </div>
</section> -->
<section id="section-yesno" class="section hidden">
  <div class="container yesno--container">
    <div class="wrapper">
      <div class="spinner-container">
        <canvas id="wheel"></canvas>
        <button id="spin-button">Spin</button>
        <svg
          class="yesno--arrow-left"
          width="40"
          height="40"
          aria-label="arrow-left"
        >
          <use href="./images/icons.svg#arrow-left"></use>
        </svg>
      </div>
      <div id="final-value">
        <p>Click On The Spin Button To Start</p>
      </div>
    </div>
  </div>
</section>
