<section id="section-yesno" class="section hidden">
  <div class="container yesno--container">
    <div class="spinner-wrapper">
      <div class="spinner-container">
        <canvas id="wheel"></canvas>
        <button id="spin-button" class="spin-button spin-button--enabled">
          Spin
        </button>
        <svg
          class="spinner__arrow-left"
          width="40"
          height="40"
          aria-label="arrow-left"
        >
          <use href="./images/icons.svg#arrow-left"></use>
        </svg>
      </div>

      <div class="result-field">
        <h2 class="section__title">Generate Yes or No</h2>
        <div id="final-value">
          <p class="result-instructions">Click On The Spin Button To Start</p>
        </div>
        <div class="yesno-statistics">
          <div class="yesno-statistics__count">
            <p
              class="yesno-statistics__description yesno-statistics__description--yes"
            >
              Yes
            </p>
            <p class="yesno-statistics__yes-count">0</p>
          </div>
          <div class="yesno-statistics__count">
            <p
              class="yesno-statistics__description yesno-statistics__description--no"
            >
              No
            </p>
            <p class="yesno-statistics__no-count">0</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
