<!-- <section id="section-yesno" class="section hidden">
  <div class="container yesno">
    <h2 class="section__title">Generate Yes or No</h2>
    <p>Coming soon...</p>
  </div>
</section> -->
<section id="section-yesno" class="section hidden">
  <div class="wrapper">
    <div class="yesno-container">
      <canvas id="wheel"></canvas>
      <button id="spin-button">Spin</button>
    </div>
    <div id="final-value">
      <p>Click On The Spin Button To Start</p>
    </div>
  </div>
</section>
