.randomize__buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    &--controlls{
        display: flex;
        width: 100%;
    }

    @media screen and (min-width:$tablet) {
        flex-direction: row;
        width: 90%;
    }

    @media screen and (min-width:$desktop) {
        width: 80%;
    }
}

.randomize__button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px;
    width: 100%;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    box-shadow: $main-box-shadow;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;

    &--generate{
        color: #fff;
        background-color: $accent-color;
        margin-bottom: 20px;

        @media screen and (min-width:$tablet) {
            margin-bottom: 0;
            margin-right: 20px;
            width: 92.75%;

            &:focus {
                background-color: $button-hover;
            }
        }
    
        @media screen and (min-width:$desktop) {
            width: 95.54%;
        }
    }

    &--amount,
    &--reset {
        color: $accent-color;
        padding: 15px;

        @media screen and (min-width:$tablet) {
            padding: 20px;
        }
    }

    &--amount {
        background-color: $button-secondary-color;
        margin-right: 20px;

        @media screen and (min-width:$tablet) {
            &:focus {
                background-color: $button-secondary-color-hover;
            }
        }
    }

    &--reset{
        background-color: #fff;

        @media screen and (min-width:$tablet) {
            &:focus {
                background-color: $button-disabled-text;
            }
        }
    }

    &--generate:focus,
    &--amount:focus,
    &--reset:focus{
        outline: none;
    }

    &--generate:hover {
        background-color: $button-hover;
    }


    &--amount:hover{
        background-color: $button-secondary-color-hover;
    }

    &--reset:hover {
        background-color: $button-disabled-text;
    }
}