.randomize__buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;

    &--controls{
        display: flex;
        width: 100%;
    }

    @media screen and (min-width:$tablet) {
        flex-direction: row;
        width: 90%;
    }

    @media screen and (min-width:$desktop) {
        width: 80%;
    }
}

.randomize__button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px;
    width: 100%;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    box-shadow: $main-box-shadow;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;

    &--generate{
        color: #fff;
        background-color: $accent-color;
        margin-bottom: 20px;
        height: 60px;

        @media screen and (min-width:$tablet) {
            margin-bottom: 0;
            margin-right: 20px;
            width: 92.75%;
        }
    
        @media screen and (min-width:$desktop) {
            width: 95.54%;
        }
    }

    &--amount,
    &--reset {
        color: $accent-color;
        padding: 15px;
        height: 50px;

        @media screen and (min-width:$tablet) {
            padding: 20px;
            height: 60px;
        }
    }

    &--reset{
        background-color: #fff;
    }

    &--amount {
        position: relative;
        background-color: $button-secondary-color;
        margin-right: 20px;
    }

    &--generate:focus,
    &--amount:focus,
    &--reset:focus{
        outline: none;
    }

    &--generate:focus {
        background-color: $button-hover;
    }

    &--amount:focus{
        background-color: $button-secondary-color-hover;
    }

    &--reset:focus {
        background-color: $button-disabled-text;
    }
}

.amount-switcher--icon{
    visibility: visible;
    opacity: 100%;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    fill: currentColor;

    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hidden-icon {
    visibility: hidden;
    opacity: 0;
}

// prevent sticky hover effects for buttons on touch devices
@media (hover: hover) {
    .randomize__button--generate:hover {
        background-color: $button-hover;
    }

    .randomize__button--amount:hover {
        background-color: $button-secondary-color-hover;
    }

    .randomize__button--reset:hover {
        background-color: $button-disabled-text;
    }
}